Source: ros-turbulent-can-msgs
Section: misc
Priority: extra
Maintainer: Mathias Lüdtke <mathias.luedtke@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-ament-cmake, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-rosidl-default-generators, ros-turbulent-std-msgs, ros-turbulent-ros-workspace, ros-turbulent-rmw-connext-cpp, ros-turbulent-rmw-fastrtps-cpp, ros-turbulent-rmw-implementation, ros-turbulent-rmw-opensplice-cpp, ros-turbulent-rosidl-typesupport-connext-c, ros-turbulent-rosidl-typesupport-connext-cpp, ros-turbulent-rosidl-typesupport-opensplice-c, ros-turbulent-rosidl-typesupport-opensplice-cpp
Homepage: http://wiki.ros.org/can_msgs
Standards-Version: 3.9.2

Package: ros-turbulent-can-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-rosidl-default-runtime, ros-turbulent-std-msgs, ros-turbulent-ros-workspace
Description: CAN related message types.
